<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Parser extension test">
            <directory>./src/CirclicalTwigTrans/Test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/CirclicalTwigTrans</directory>
            <exclude>
                <directory suffix=".php">./src/CirclicalTwigTrans/Test</directory>
                <directory suffix=".php">./src/CirclicalTwigTrans/Exception</directory>
                <file>./src/CirclicalTwigTrans/Factory/TransFactory.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="tests/_reports/logs/clover.xml"/>
        <log type="coverage-html" target="tests/_reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="testdox-text" target="tests/_reports/testdox/executed.txt"/>
    </logging>
</phpunit>
