<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="./vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Parser extension test">
            <directory>./src/CirclicalTwigTrans/Test/</directory>
        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/CirclicalTwigTrans</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/CirclicalTwigTrans/Test</directory>
            <directory suffix=".php">./src/CirclicalTwigTrans/Exception</directory>
            <file>./src/CirclicalTwigTrans/Factory/TransFactory.php</file>
            <file>./src/CirclicalTwigTrans/Factory/TransDefaultDomainFactory.php</file>
        </exclude>
        <report>
            <clover outputFile="tests/_reports/logs/clover.xml"/>
            <html outputDirectory="tests/_reports/coverage"/>
        </report>
    </coverage>
</phpunit>
